body {
}

.card {
  margin: 1em;
  background: #333;
  border-radius: 3px;
  padding: 1em;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-logo {
}
.nav-list {
  display: flex;
  list-style: none;
}
